
html {
	font-size: 14px;
  min-width: 320px;
}

body { 
	margin: 0; font-family: 'Roboto', sans-serif; font-feature-settings: "lnum";
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  color: $text; padding-bottom: 2.14rem; background: white;
  min-width: 320px;
  //box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.7);
  &.overlaid { overflow: hidden; }
}

a { color: $link; cursor: pointer; }

h1 { 
	font-size: 3.2rem; color: $text; margin-bottom: 2rem;  margin-top: 1em; 
  @media (max-width: 640px) { font-size: 2.2rem; }
}

h2 { font-size: 2.2rem; font-weight: 300; margin-top: 1em; margin-bottom: 1em; }
h3 { margin-top: 1em; margin-bottom: 1em; }
p { font-size: 1.28rem; margin-top: 1em; margin-bottom: 1em; }
img { max-width: 100%; }
ul { padding: 0; }

input[type=text], input[type=email], input[type=password], button {
	color: $text; margin-bottom: 1rem; width: 100%; max-width: 35.71rem;
  font-size: 1.2rem; padding: .714rem; border-radius: .314rem; box-sizing: border-box;
}

input[type=text], input[type=email], input[type=password] {
	box-shadow: $inshadow; background: $bg1;
}

button {
	border: none; margin: 0;
}

figure { margin: 0; padding: 0 }


.w100 { width: 100%; }

.button { 
  background: $link; font-weight: 600; color: white; border: 2px solid rgba(7,206,255,.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 7px -3px; width: auto; 
  text-align: center; cursor: pointer; padding: 1rem; max-width: 100%;
	&.medium {
		width: 20rem;
	}
	&.gold {
		color: #DF2A8C;
		background: $gold;
		border: 2px solid rgba(248, 211, 3, 0.5);
		&:hover {
			background: $gold2
		}
	}
  &:hover { background: $azure; }
}

.warn { color: red; }

.flex { 
  display: flex; 
  &.align-bottom { align-items: flex-end; }
  &.align-center { align-items: center; }
  &.justify-left { justify-content: flex-start; }
  &.justify-center { justify-content: center; }
  &.justify-between { justify-content: space-between; }
  &.justify-around { justify-content: space-around; }
	&.full-center { justify-content: center; align-items: center; }
  &.column { flex-direction: column; }
  &.wrap { flex-wrap: wrap; }
  &.fw { width: 100%; }
  &.grow { flex-grow: 1; }
}

.grid {
  display: grid; width: 100%; 
  box-sizing: border-box; 
  grid-template-columns: repeat( auto-fill, minmax(10rem, 1fr) ); gap: 20px;
  &.isEmpty { grid-template-rows: auto; }
  @media (max-width: 400px) { 
    grid-template-columns: 100%;
    .badge, .edit, .badge-add { 
      font-size: 1.2rem;
      figure { width: 5rem; }
    }  
  }
}

.padyMed { padding-top: 2rem; padding-bottom: 2rem; }
.padAllMed { padding: 2rem; }

.container  {
  width: 100%; max-width: 1800px; margin: auto;
  padding-left: 1.42rem; padding-right: 1.42rem;
	&.medium {
		max-width: 1200px;
	}
}

.icon-small {
	display: inline-block;
	max-width: 2rem;
	height: 1rem;
}

.bgcont-wrap {
	border-radius: 7px;
	background: linear-gradient(180deg, rgba(255,228,187,1) 0%, rgba(255,214,68,1) 35%, rgba(255,255,255,1) 100%);
	padding: 1px;
	box-shadow: 0px 4px 3px 0px #CFCFCF8A;
	.bgcont {
		border-radius: 7px;
		overflow: hidden;
		background: #F4F4F4;
		height: 100%;
	}
}
