$foreground: #ffffff;
$background: #9BC6FF;
$darkbg: #0b1111;
$lightbg: #3c6164;
$highlight: #42b983;
$navbg: black;
$ellis2: #EFC30B;
$ellis: #5CA7FF;
$nubis: #F2F7FF;

$radialb: radial-gradient(circle, rgba(7,206,253,1) 0%, rgba(24,93,250,1) 100%);
$shine: linear-gradient(336deg, rgba(24,93,250,1) 8%, rgba(7,206,255,1) 51%, rgba(24,93,250,1) 92%);

$lightgrad: linear-gradient(265deg, rgba(60,131,215,1) 0%, rgba(9,23,43,1) 100%);
$lightgrad2: linear-gradient(180deg, rgba(60,131,215,1) 0%, rgba(9,23,43,1) 100%);

$glow: 0px 2px 8px 0px rgba(0,0,0,1);